# Configuración de variables de entorno para Frontend Vue 3 (Vite)
# URL de la API Express (Backend)
VITE_API_URL=http://localhost:3000

# URL del servidor Socket.IO (En tiempo real)
VITE_SOCKET_URL=http://localhost:3000
